<head>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="currentClass"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['class-1', 'class-2']">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="assignedClass">
    <div :class="assignedClass"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="otherAssignedClass">
    <input type="text" @keyup="useClass4 = this.event.target.value == 'true'">
    <div :class="[otherAssignedClass, {'class-4': useClass4}]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="assignedColor">
    <div class="block" :style="{backgroundColor: assignedColor}"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div>
      <progress :value="currentProgress" max="100"></progress>
    </div>
  </div>
</div>

<script src="app.js"></script>